In [1]:
import pandas as pd

In [18]:
coffee = pd.read_csv("./assets/coffee.csv")

In [19]:
coffee["Units Sold"] = coffee["Units Sold"].str.replace("$", "")

In [33]:
coffee

          Day Coffee Type Units Sold
0      Monday    Espresso         25
1      Monday       Latte         15
2     Tuesday    Espresso         30
3     Tuesday       Latte         20
4   Wednesday    Espresso         35
5   Wednesday       Latte         25
6    Thursday    Espresso         40
7    Thursday       Latte         30
8      Friday    Espresso         45
9      Friday       Latte         35
10   Saturday    Espresso         45
11   Saturday       Latte         35
12     Sunday    Espresso         45
13     Sunday       Latte         35

In [20]:
coffee["Units Sold"] = coffee["Units Sold"].astype('Int64')

In [23]:
coffee["Units Sold"].mean()

np.float64(32.857142857142854)

In [22]:
coffee["Units Sold"].sum()

np.int64(460)

In [31]:
coffee["Most sale"] = coffee["Units Sold"].map(lambda x: "good" if x >= 35 else "bad")

In [32]:
coffee

          Day Coffee Type  Units Sold Most sale
0      Monday    Espresso          25       bad
1      Monday       Latte          15       bad
2     Tuesday    Espresso          30       bad
3     Tuesday       Latte          20       bad
4   Wednesday    Espresso          35      good
5   Wednesday       Latte          25       bad
6    Thursday    Espresso          40      good
7    Thursday       Latte          30       bad
8      Friday    Espresso          45      good
9      Friday       Latte          35      good
10   Saturday    Espresso          45      good
11   Saturday       Latte          35      good
12     Sunday    Espresso          45      good
13     Sunday       Latte          35      good